#Byte-compiled files
__pycache__/
*.py[cod]

#Environment folders
.env/
.venv/
env/
venv/

#Logs and temporary files
logs/
*.log
*.tmp

#Jupyter Notebook checkpoints
.ipynb_checkpoints/

#Input and output folders
input_ts/
Data/
